.CategoriesList {
    width: 100%;

    .Title {
        margin: 0 0 20px;
    }

    .NewCategoryButton {
        margin: 0 0 20px;
    }

    .CategoriesTable {
        width: 100%;
        border: 1px solid #dee2e6;
        border-radius: 5px;

        th {
            &:nth-child(1) {
                width: 20%;
            }

            &:nth-child(3) {
                width: 55px;
                text-align: center;
            }

            &:nth-child(4) {
                width: 14%;
            }
        }

        td {
            &:nth-child(3) {
                text-align: center;
            }

            &:nth-child(4) {
                text-align: center;
            }

            .ActionIconButton {
                border: none;

                &.DeleteEventButton {
                    .Icon {
                        color: #d51919;
                        width: 100%;
                    }
                }

                &.EditEventButton {
                    margin: 0 10px;

                    .Icon {
                        color: #228be6;
                    }
                }
            }
        }

        .ColorCircle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0 auto;
        }
    }
}
