@use '../../variables.scss' as *;
.TopPanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aeaeae;
    padding: 10px;

    .Logo {
        width: 56px;
        height: 50px;
        cursor: pointer;

        img {
            object-fit: fill;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    .UserData {
        display: flex;
        margin: 0 20px 0 auto;

        .Avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $color-blue;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 2px;
            margin: 0 20px 0 0;
            background: $color-peach;
            font-weight: bold;
        }

        .Info {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .Name {
                font-size: 14px;
                line-height: 17px;
            }

            .Email {
                font-size: 12px;
                line-height: 15px;
            }

            .Phone {
                font-size: 12px;
                line-height: 15px;
            }
        }

        .EscapeButton {
        }
    }
}
