* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

#app {
    display: flex;
    width: 100%;
    flex-grow: 1;
}
